<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <!-- <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div> -->
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        (사)대한견&#183;주관절학회 | The Korean Shoulder and Elbow Society(KSES2021)<br>
        Business registration number: 170-82-00324 | Name of representative: Sae hoon Kim<br>
        193-1, Muhak-ro, Dongdaemun-gu, Seoul, Republic of Korea<br>
        Tel: +82-2072-3930 | E-mail: kses2021@gmail.com / kses1@kses.or.kr<br>
        &#169; Kses 2021 All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
