.timetable-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  // max-height: 1490px;
  // min-height: 100%;
  background-size: contain;
  background-position: center 131px;
  background-repeat: no-repeat;
}

.timetable-nav {
  font-size: 1.33rem;

  .timetable-title {
    height: 64px;
    line-height: 64px;
    background: var(--gray6);
    text-align: center;
  }

  .timetable-list {
    margin-bottom: 48px;
    // border: 1px solid var(--gray22);
  }

  .content-inner {
    display: flex;
    justify-content: center;
    max-width: 780px;
  }

  .nav-item {
    flex: 0 0 40%;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    height: 64px;
    background: var(--white);
    border: 1px solid var(--gray22);

    &>a {
      display: block;
      // font-size: 1.33rem;
      color: var(--navy);
      line-height: 64px;
      text-align: center;
      text-decoration: none;

      &.active {
        color: var(--white);
        background: var(--navy);
      }
    }
  }
}

.timetable {
  .timetable-label {
    margin-bottom: 8px;
    color: var(--red);
    font-size: 1.2rem;
  }

  table {
    // max-width: 877px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;

    th {
      font-weight: 500;
    }

    tr {
      .date {
        text-align: left;
      }
    }

    th {
      padding: 7px 5px 9px;
      position: relative;
      color: var(--white);
      background-color: var(--darkBlue2);
      font-size: 1.0rem;
      font-weight: 700;
      text-align: center;
      border: 1px solid #ccc;

      &.backslash {
        width: 40px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');

        & span {
          display: block;

          &:first-child {
            padding-left: 40px;
          }

          &:last-child {
            margin-left: -32px;
          }
        }
      }

      .channel-btn {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 999;
        outline: none;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
          transition: all 0.5s;
        }
      }
    }

    td {
      height: 50px;
      padding: 7px 5px 9px;
      color: var(--gray17);
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.2;
      text-align: center;
      background: var(--white);
      border: 1px solid #ccc;

      &.break {
        color: var(--darkBlue3);
        font-style: italic;
      }

      &.session {
        font-size: 1.3rem;
        font-weight: 800;
        background: var(--gray29);
      }

      &.time {
        background: var(--gray29);
      }

      &.symposium {
        color: var(--black);
        background: var(--blue11);
      }

      &:nth-child(1) {
        text-align: center;
      }

      &:nth-child(2) {
        padding-left: 8px;
      }

      &:nth-child(3) {
        padding-left: 8px;
        text-align: center;
      }

      &.day {
        background: #0078d6;
        color: #fff;
      }

      &.other {
        padding: 0;

        table {
          border: none;
          height: 100%;

          tr td {
            border-top: 0;
            border-right: 0;
            border-left: 0;
          }

          tr:nth-child(4) {
            td {
              border-bottom: 0;
            }

          }
        }
      }
    }
  }
}

@media(max-width: 1600px) {
  .timetable-wrapper {
    background-size: cover;
  }
}

@media(max-width: 767px) {
  .timetable {
    .timetable-label {
      margin-bottom: 4px;
      font-size: 1rem;
    }

    table {
      th {
        // padding: 8px 5px 9px;
        font-size: 1rem;
      }

      td {
        font-size: 1rem;
      }
    }
  }
}

@media(max-width: 575px) {

  .timetable-nav {
    // font-size: 1rem;
    // letter-spacing: -0.5px;

    .timetable-title {
      height: 40px;
      line-height: 40px;
    }

    .nav-item {

      &>a {
        line-height: 32px;
      }
    }
  }

  .timetable {
    table {

      th,
      td:first-child {
        max-width: 52px;
        font-weight: 500;
        // background: var(--gray4);
      }

      th {
        padding: 4px 2px;
        font-size: 0.6rem;

        &.backslash {

          & span {
            display: block;

            &:first-child {
              padding-left: 21px;
            }

            &:last-child {
              margin-left: -24px;
            }
          }
        }
      }

      td {
        padding: 4px 2px;
        font-size: 0.6rem;
      }
    }
  }

}
