<div class="timetable-wrapper">
  <div class="timetable-nav">
    <!-- <div class="timetable-title"> -->
    <!-- <p>Day</p> -->
    <!-- </div> -->
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021 . 3 . 26(Fri) 07:30-18:15</a>
        </div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">2021 . 3 . 27(Sat) 08:00-18:10</a>
        </div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- <p class="timetable-label">(K): Korean , (E): English </p> -->
    <!-- 12월 3일 -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:30%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:30%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="3" #th1>
            Room 1(Main Room, E1-4), 3F
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)">
            </div>
          </th>
          <th colspan="3" #th2>
            Room 2(Sub Room, E5-6), 3F
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">07:30</td>
          <td class="time">08:00</td>
          <td colspan="4">Registration</td>
        </tr>

        <tr>
          <td class="time">08:00</td>
          <td class="time">08:40</td>
          <td>Free Papers 1.</td>
          <td class="time">08:00</td>
          <td class="time">08:40</td>
          <td>Free Papers 2.</td>
        </tr>

        <tr>
          <td class="time">08:40</td>
          <td class="time">09:20</td>
          <td>Free Papers 3.</td>
          <td class="time">08:40</td>
          <td class="time">09:20</td>
          <td>Free Papers 4.</td>
        </tr>

        <tr>
          <td class="time">09:20</td>
          <td class="time">09:25</td>
          <td colspan="4">Opening ceremony</td>
        </tr>

        <tr>
          <td class="time">09:25</td>
          <td class="time">09:35</td>
          <td colspan="4">Signing ceremony of Memorandum of Understanding (MOU) between
            <br>
            KSES (Korean Shoulder and Elbow Society) and Orthopaedic Biomechanics Laboratory (OBL)</td>
        </tr>

        <tr>
          <td class="time">09:35</td>
          <td class="time">10:35</td>
          <td colspan="4" class="symposium">Symposium I. Elbow Symposium</td>
        </tr>

        <tr>
          <td class="time">10:35</td>
          <td class="time">10:50</td>
          <td colspan="4" class="break">Coffee Break</td>
        </tr>

        <tr>
          <td class="time">10:50</td>
          <td class="time"></td>
          <td rowspan="2" class="symposium">
            Basic research committee workshop
          </td>
          <td class="time">10:50</td>
          <td class="time">11:30</td>
          <td>Free Papers 5.</td>
        </tr>

        <tr>
          <td class="time"></td>
          <td class="time">12:10</td>
          <td class="time">11:30</td>
          <td class="time">12:10</td>
          <td>Free Papers 6.</td>
        </tr>

        <tr>
          <td class="time">12:10</td>
          <td class="time">12:50</td>
          <td colspan="4" class="symposium">
            Symposium II. Panel discussion with experts (Sports medicine & arthroplasty)
          </td>
        </tr>

        <tr>
          <td class="time">12:50</td>
          <td class="time">13:50</td>
          <td colspan="4">
            Luncheon symposium (Sponsored by Stryker)
          </td>
        </tr>

        <tr>
          <td class="time">13:50</td>
          <td class="time"></td>
          <td rowspan="2" class="symposium">
            CiSE journal workshop
          </td>
          <td class="time">13:50</td>
          <td class="time">14:30</td>
          <td>Free Papers 7.</td>
        </tr>

        <tr>
          <td class="time"></td>
          <td class="time">15:10</td>
          <td class="time">14:30</td>
          <td class="time">15:10</td>
          <td>Free Papers 8.</td>
        </tr>

        <tr>
          <td class="time">15:10</td>
          <td class="time">15:50</td>
          <td>Free Papers 9.</td>
          <td class="time">15:10</td>
          <td class="time">15:50</td>
          <td>Free Papers 10.</td>
        </tr>

        <tr>
          <td class="time">15:50</td>
          <td class="time">16:05</td>
          <td colspan="4" class="break">Coffee Break</td>
        </tr>

        <tr>
          <td class="time">16:05</td>
          <td class="time">16:45</td>
          <td>Free Papers 11.</td>
          <td class="time">16:05</td>
          <td class="time">16:45</td>
          <td>Free Papers 12.</td>
        </tr>

        <tr>
          <td class="time">16:45</td>
          <td class="time">17:25</td>
          <td colspan="4" class="symposium">
            Symposium III. Session for young surgeons: How to success for the bright future
          </td>
        </tr>

        <tr>
          <td class="time">17:25</td>
          <td class="time">17:45</td>
          <td colspan="4">
            Korean travelling fellow report
          </td>
        </tr>

        <tr>
          <td class="time">17:45</td>
          <td class="time">18:15</td>
          <td colspan="4" class="symposium">
            Special Lecture: Letter form a man who's done it from the beginning
          </td>
        </tr>
    </table>

    <table class="program" #table2 *ngIf="date === 2">
      <colgroup>
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:30%">
        <col style="width:10%">
        <col style="width:10%">
        <col style="width:30%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="3" #th1>
            Room 1(Main Room, E1-4), 3F
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(1, 0)">
            </div>
          </th>
          <th colspan="3" #th2>
            Room 2(Sub Room, E5-6), 3F
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(1, 1)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">08:00</td>
          <td class="time">08:40</td>
          <td>Free Papers 13.</td>
          <td class="time">08:00</td>
          <td class="time">08:40</td>
          <td>Free Papers 14.</td>
        </tr>

        <tr>
          <td class="time">08:40</td>
          <td class="time">09:20</td>
          <td>Free Papers 15.</td>
          <td class="time">08:40</td>
          <td class="time">09:20</td>
          <td>Free Papers 16.</td>
        </tr>

        <tr>
          <td class="time">09:20</td>
          <td class="time">10:10</td>
          <td colspan="4" class="symposium">Plenary lectures</td>
        </tr>

        <tr>
          <td class="time">10:10</td>
          <td class="time">10:25</td>
          <td colspan="4" class="break">Coffee Break</td>
        </tr>

        <tr>
          <td class="time">10:25</td>
          <td class="time"></td>
          <td rowspan="2" colspan="4" class="symposium">
            Special guest lecture
          </td>
        </tr>

        <tr>
          <td class="time"></td>
          <td class="time">11:45</td>
        </tr>

        <tr>
          <td class="time">11:45</td>
          <td class="time">12:25</td>
          <td colspan="4" class="symposium">Symposium IV. Panel discussion with experts (trauma)</td>
        </tr>

        <tr>
          <td class="time">12:25</td>
          <td class="time">13:30</td>
          <td colspan="4">Luncheon symposium (Sponsored by CGBio)</td>
        </tr>

        <tr>
          <td class="time">13:30</td>
          <td class="time">14:30</td>
          <td colspan="4" class="symposium">Symposium V. SCR symposium</td>
        </tr>

        <tr>
          <td class="time">14:30</td>
          <td class="time">15:30</td>
          <td colspan="4" class="symposium">Symposium VI. Arthroscopy symposium</td>
        </tr>

        <tr>
          <td class="time">15:30</td>
          <td class="time">15:45</td>
          <td colspan="4" class="break">Coffee Break</td>
        </tr>

        <tr>
          <td class="time">15:45</td>
          <td class="time">16:25</td>
          <td colspan="4" class="symposium">Symposium VII. Shoulder arthroplasty symposium</td>
        </tr>

        <tr>
          <td class="time">16:25</td>
          <td class="time">17:25</td>
          <td colspan="4">Free Papers 17. Award session</td>
        </tr>

        <tr>
          <td class="time">17:25</td>
          <td class="time">17:55</td>
          <td colspan="4">President lecture</td>
        </tr>

        <tr>
          <td class="time">17:55</td>
          <td class="time">18:05</td>
          <td colspan="4">Best presentation award, Cheong gang award, Best acdemic paper award</td>
        </tr>

        <tr>
          <td class="time">18:05</td>
          <td class="time">18:10</td>
          <td colspan="4">Closing remark</td>
        </tr>

        <tr>
          <td class="time">18:10</td>
          <td class="time"></td>
          <td colspan="4">Business meeting</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
