<div class="content-body">
  <div class="content-wrapper">
    <!-- LIVE session -->
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Program</h2>
      </div>
    </div>
    <div class="content-inner">
      <div class="row m-0 sub-title-wrapper">
        <!-- <div class="col-md-6 p-0">
          <h3>Program at a glance</h3>
        </div> -->
        <!-- <div class="col-md-6 p-0 text-right" *ngIf="user">
          <a class="download" [href]="programBookUrl" target="_blank">
            <span>Program Book</span>
            <i class="icon-download" aria-hidden="true"></i>
          </a>

          <a class="download" [href]="excerptUrl" target="_blank">
            <i class="icon-book" aria-hidden="true"></i>
            <span>Abstract</span>
            <i class="icon-download" aria-hidden="true"></i>
          </a>
        </div> -->
        <div class="korea-time">
          <img src="assets/img/korea-symbol.png">
          Local Time {{ koreaTime | amDateFormat: 'HH:mm:ss' }}
        </div>
      </div>
      <app-time-table></app-time-table>
    </div>
  </div>
</div>
