.banner-wrapper {
  width: 100%;
  margin: 0 auto;

  position: relative;
  text-align: center;

  .m-banner-image {
    display: none;
    width: 100%;
    height: 250px;
    max-height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn-wrapper {
    margin-top: -96px;
    text-align: center;
    animation: movement 1s ease 0s infinite alternate;
    -webkit-animation: movement 1s ease 0s infinite alternate;
  }

  .go-btn {
    display: inline-block;
    width: 180px;

    &+span {
      display: block;
      padding-top: 8px;
      color: var(--purple);
    }
  }
}

@media (max-width: 767px) {
  .banner-wrapper {
    width: 100%;
    .m-banner-image {
      display: block;
    }

    &>img {
      display: none;
    }
  }
}
