  .about .title-wrapper .welcome-title-image {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 20px;
    background-image: url('/assets/img/welcome-title.png');
    background-size: contain;
    vertical-align: middle;
  }

  .program {
    .korea-time {
      text-align: center;
      color: var(--gray10);
      font-size: 1.4rem;
    }

    .sub-title-wrapper {
      padding-bottom: 40px;

      .download {
        padding: 8px 16px;
        font-size: 1.2rem;
        background: var(--blue6);
        border-width: 0;
        border-radius: 8px;
        color: var(--white);

        margin-left: 16px;

        /* 책 아이콘 */
        .icon-book {
          display: inline-block;
          width: 22px;
          height: 16px;
          margin-right: 8px;
          background-image: url(/assets/img/icon-book.png);
          background-size: contain;
          vertical-align: middle;
        }

        /* 다운로드 아이콘 */
        .icon-download {
          padding-left: 16px;
          font-size: 1.4rem;

          &:before {
            color: var(--white);
          }
        }
      }
    }
  }

  .speaker #speakerList {
    .carousel-item {
      padding: 16px 70px;
      text-align: center;
    }

    .slider-btn {
      position: absolute;
      width: 62px;
      height: 62px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background-color: var(--white);
      color: var(--black);
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;

      &:hover {
        text-decoration: none;
      }

      &.prev {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }
  }

  .e-booth {

    .title-wrapper {
      margin-bottom: 0;
    }

    .e-booth-banner {
      margin-top: -8px;
      margin-bottom: 40px;
      text-align: center;
    }

    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      padding: 0;

      .list-item {
        width: 50%;
        max-width: 418px;

        & img {
          max-height: 100%;
        }
      }

      .e-booth-btn {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }

  .sponsors {

    .sponsors-banner {
      margin-bottom: 40px;
      text-align: center;

      h3 {
        display: inline-block;
        padding: 14px 62px;
        border-radius: 27px;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        -ms-border-radius: 27px;
        -o-border-radius: 27px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

      }
    }

    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      padding: 0;

      .list-item {
        width: 16.66%;
        margin-bottom: 40px;

        & img {
          max-height: 100%;
        }
      }
    }
  }

  /* e-booth modal */

  figure {
    padding: 6px 0;
    font-size: 1.33rem;
    color: var(--gray16);

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px 18px;

      img {
        max-height: 100%;
      }
    }

    figcaption {
      padding: 16px 0;
    }
  }

  .item-info {
    padding: 16px;

    h3 {
      margin-bottom: 16px;
    }

    a {
      display: block;
    }

    .home-link {
      margin-bottom: 28px;
      color: var(--gray22);
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;

      &:hover {
        color: var(--blue8);
        text-decoration: underline;
      }
    }

    .download {
      display: inline-flex;
      min-width: 120px;
      max-width: 270px;
      margin-top: 8px;
      padding: 8px;
      color: #333;
      font-size: 14px;
      background: #fff;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

      .ellipsis {
        max-width: 100%;
      }
    }

    .item-name {
      margin-bottom: 8px;
      font-weight: bold;
      text-align: left;
    }
  }

  .item-desc {
    padding: 16px;
    border-top: 3px solid var(--gray16);

    &>p {
      margin-bottom: 0;
      word-break: break-all;
    }
  }

  .modal.detail-modal .modal-content .modal-body {
    overflow: auto;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 32px;

    .view-more {
      display: flex;
      position: relative;
      justify-content: flex-start;
      width: 167px;
      height: 38px;
      padding: 0 16px;
      background: var(--gray2);
      color: var(--gray12);
      font-size: 1.2rem;
      border: none;
      line-height: 38px;

      .icon-more {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        font-size: 10px;
      }
    }
  }


  .modal.detail-modal {

    .modal-body {
      overflow: auto;
    }

    /* modal content */
    figure {
      display: flex;
      position: relative;
      max-height: 100%;
      margin: 0;
      padding: 24px;
      text-align: center;

      .image-wrapper {
        display: flex;
        flex: 0 0 36%;
        align-self: center;
        max-width: 36%;
        min-height: 13vh;
        max-height: 100%;

        img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }

    a {
      display: block;
    }

    .item-info {
      position: absolute;
      left: 37%;
      top: 24px;
      flex-basis: auto;
      min-width: 200px;
      min-height: 80px;
      font-size: 1.33rem;
      text-align: left;

      .home-link {
        margin-bottom: 28px;
        color: var(--gray22);
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;

        &:hover {
          color: var(--blue8);
          text-decoration: underline;
        }
      }

      >p {
        font-size: 1.25rem;
      }

      .item-name {
        margin-bottom: 8px;
        font-size: 1.33rem;
        font-weight: bold;
        text-align: left;
      }
    }

    .item-inner {
      flex: 0 0 60%;
      max-width: 60%;
    }

    .attachments {
      // position: absolute;
      padding-top: 80px;
      color: var(--gray22);
      font-size: 1.33rem;
      text-align: left;
    }

    .download {
      display: inline-flex;
      min-width: 137px;
      margin-top: 8px;
      margin-right: 8px;
      padding: 8px;
      color: var(--gray22);
      font-size: 14px;
      font-weight: 500;
      background: #fff;
      border: 1px solid var(--gray25);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;

      &:hover {
        color: var(--blue8);
        font-weight: 600;
        text-decoration: underline;
      }

      /*클립아이콘*/
      .icon-clip {
        display: inline-block;
        vertical-align: middle;
        width: 11px;
        height: 22px;
        margin-right: 8px;
        background-image: url('/assets/img/icon-clip.png');
        background-size: contain;
        background-repeat: no-repeat;
      }

      .ellipsis {
        max-width: 65px;
        padding-left: 5px;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .item-desc {

      display: flex;
      justify-content: center;
      padding: 0 24px;
      font-size: 1.33rem;

      &>p {
        margin-bottom: 0;
        word-break: break-all;
      }

      .image-item {
        margin-right: 16px;
      }
    }
  }


  .policy-alert-btn {
    display: none;
  }

  .modal-dialog {
    max-width: 826px;
  }

  .policy-alert {

    .modal-content {
      padding: 32px;
      max-width: 60%;
      background: var(--gray16);

      .modal-title {
        color: var(--white);
        font-size: 1.3rem;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--white);

        img {
          width: 6%;
          margin-right: 8px;
        }
      }

      .modal-description {
        padding: 16px 0;

        label {
          font-size: 1.5rem;
          color: var(--yellow1);
        }

        p {
          text-align: center;
          padding: 8px 0;
          // font-size: 1.3rem;
          font-size: 2.0rem;
          color: var(--white);

          span {
            font-size: 2.2rem;
            line-height: 1.7;
          }
        }

        .example {
          font-size: 1.0rem;
        }
      }

      .ask-confirm {
        display: flex;
        place-content: center;
        font-size: 1.0rem;
        color: var(--yellow1);
        margin-top: 16px;
      }

      .confirm-btn {
        height: 50px;
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 25px;
        background: var(--blue5);

        &.in {
          background: var(--blue5);
        }

        &.out {
          background: var(--red);
        }
      }
    }
  }


  @media (max-width: 1024px) {

    .speaker-item .col-2 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }

    .sponsors {
      .list-item {
        flex: 0 0 25%;
        max-width: 25%;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
      }
    }

    figure {
      flex-wrap: wrap;
    }

    .modal.detail-modal .item-info {
      min-height: 15vh;
    }
  }


  @media (max-width: 991px) {
    .modal.detail-modal .item-inner {
      float: none;
      max-width: 100%;
    }

    .modal.detail-modal .attachments {
      width: 100%;
      min-width: 300px;
      padding-top: 0;

      .download {
        max-width: 270px;
      }

      .ellipsis {
        display: inline-block;
        width: 100%;
        max-width: 90%;
        vertical-align: middle;
      }
    }
  }


  @media (max-width: 768px) {
    .policy-alert {

      .modal-content {
        max-width: 90%;
      }
    }

    .sponsors {
      .list-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }

    .modal.detail-modal figure .image-wrapper {
      min-width: 117px;
      height: unset;

      img {
        max-height: 100%;
      }
    }

    .modal.detail-modal .download {
      display: block;
      max-width: 100%;
    }
  }

  @media (max-width: 575px) {
    .sub-title-wrapper {
      padding-bottom: 16px;

      &>div:first-child {
        margin-bottom: 8px;
      }

      .text-right button {
        margin: 16px auto;
        display: block;
        width: 100%;
        max-width: 300px;
      }
    }

    .speaker #speakerList {
      .carousel-item {
        padding: 0 40px;
      }

      .slider-btn {
        width: 40px;
        height: 40px;
      }
    }

    .sponsors {
      .list-item {
        flex: 0 0 50%;
        max-width: 50%
      }
    }

    .modal.detail-modal .item-info {

      .item-name {
        word-break: break-all;
      }
    }
  }

  @media (max-width: 414px) {
    .modal.detail-modal .item-info {
      max-width: 137px;
      min-width: unset;
    }

    .modal.detail-modal .download {
      display: block;
      max-width: 100%;
    }
  }

  @media (max-width: 380px) {
    .modal-content .modal-body .modal-description p {
      font-size: 1.4rem;
    }
  }

  @media (max-width: 360px) {
    .modal.detail-modal figure .item-info {
      left: 133px;
    }

    .modal.detail-modal .attachments {
      min-width: 260px;
    }
  }
