<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper">
          <h2>Symposium I - Elbow symposium - March. 26, 2021</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Part i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Basic Research Committee Workshop - March. 26, 2021</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Part ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Symposium II - Panel discussion with experts - March. 26, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Part ii-1']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Luncheon Symposium (Sponsored by Stryker) - March. 26, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Part ii-2']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>CiSE Journal Workshop - March. 26, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Part ii-3']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Symposium III - Session for young surgeons : How to success for the bright future - March. 26, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'" *ngFor="let speaker of speakers['Eng i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Korean travelling fellow report - March. 26, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Invited i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Special lecture - March. 26, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Invited ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <!--!--------------------------------- Day 2 ----------------------------------------------->
        <div class="title-wrapper">
          <h2>Symposium IV - Panel discussion with experts - March. 27, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'" *ngFor="let speaker of speakers['Pl ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Luncheon symposium (Sponsored by CGBio) - March. 27, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Eng ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Symposium V. SCR symposium - March. 27, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Science']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Symposium VI. Arthroscopy symposium - March. 27, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['General']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Symposium VII. Shoulder arthroplasty symposium - March. 27, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Session 1']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>President lecture: Joo Han Oh - March. 27, 2021 </h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-3'"
              *ngFor="let speaker of speakers['Session 2']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>
