// break points
$desktop: 1024px;
$tablet: 768px;
$mobile: 576px;

// mixin
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

// position default class
.position_default {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

body,
html {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sponsors {
  position: relative;
  overflow-x: hidden;
  // min-width: 1440px;
  width: 100%;
  max-height: 23730px;
  height: 785%;

  @include tablet {
    max-height: 8498px;
    height: 462.6041%;
    overflow-y: hidden;
  }
}

// 섹션별 배경

.section_1 {
  background: url(/assets/img/e-booth/imgs/bg1.png) no-repeat bottom / cover;
  position: relative;
  width: 100%;
  height: 8.5671%;
  max-height: 700px;

  @include mobile {
    max-height: 1416px;
    height: 8.5671%;
  }

  @include tablet {
    max-height: 1416px;
    height: 19.6627%;
    overflow-y: hidden;
  }
}

.section_2 {
  background: url(/assets/img/e-booth/imgs/bg2.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 11.7088%;
  max-height: 1592px;

  @include tablet {
    max-height: 1058px;
    height: 15.4499%;
  }
}

.section_3 {
  background: url(/assets/img/e-booth/imgs/bg3.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 23.0931%;
  max-height: 5480px;

  @include tablet {
    max-height: 2078px;
    height: 30.4528%;
  }
}

.section_4 {
  background: url(/assets/img/e-booth/imgs/bg4.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 3.9696%;
  max-height: 942px;

  @include tablet {
    max-height: 942px;
    height: 10.0849%;
  }
}

.section_5 {
  background: url(/assets/img/e-booth/imgs/bg5.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 20.2400%;
  max-height: 1720px;

  @include tablet {
    max-height: 1220px;
    height: 12.3563%;
  }
}

.section_6 {
  background: url(/assets/img/e-booth/imgs/bg6.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 32.3840%;
  max-height: 2752px;

  @include tablet {
    max-height: 1250px;
    height: 12.7093%;
  }
}

// section_1 contents

.diamond_banner {
  background: url(/assets/img/e-booth/imgs/diamond_banner.png) no-repeat top / contain;
  max-width: 1440px;
  max-height: 487px;
  width: 100%;
  height: 30%;
  top: 12%;

  @include mobile {
    top: 7%;
  }

  @include tablet {
    width: 75%;
    height: 34.3926%;
    top: 7%;
  }
}

.diamond_booth {
  background: url(/assets/img/e-booth/imgs/diamond_booth.png) no-repeat center / contain;
  max-width: 1280px;
  max-height: 636px;
  bottom: -0.8758%;
  width: 100%;
  height: 79.8994%;
  position: absolute;

  @include tablet {
    width: 66.6666%;
    height: 50.9152%;
    bottom: 11.1242%;
  }
}

.diamond_left_flag {
  background: url(/assets/img/e-booth/imgs/diamond_left_flag.png) no-repeat center / contain;
  max-width: 222px;
  max-height: 645px;
  margin-left: -43.8125%;
  bottom: 5.6497%;
  width: 15.4166%;
  height: 45.5508%;

  @include tablet {
    margin-left: -32.8125%;
  }
}

.diamond_right_flag {
  background: url(/assets/img/e-booth/imgs/diamond_right_flag.png) no-repeat center / contain;
  max-width: 222px;
  max-height: 645px;
  margin-left: 43.8125%;
  bottom: 5.6497%;
  width: 15.4166%;
  height: 45.5508%;

  @include tablet {
    margin-left: 32.8125%;
  }
}

// section_2 contents
.platinum_banner {
  background: url(/assets/img/e-booth/imgs/platinum_banner.png) no-repeat center / contain;
  max-width: 1440px;
  max-height: 270px;
  top: 3.1407%;
  width: 100%;
  height: 25%;

  @include tablet {
    width: 70%;
    height: 24%;

  }
}

.platinum_booth_set {
  display: flex;
  flex-flow: row wrap;
  max-width: 1440px;
  width: 100%;
  height: 79.8994%;
  position: absolute;
  bottom: 0.6281%;

  @include tablet {
    max-height: 636px;
    height: 56.9497%;
    bottom: 9.4221%;
  }
}

.platinum_booth_1 {
  background: url(/assets/img/e-booth/imgs/platinum_booth_1.png) no-repeat center / contain;
  // max-width: 1280px;
  // max-height: 636px;
  flex: auto;
  width: 100%;
  height: 50%;

  @include tablet {
    //    max-width: 720px;
    //    max-height: 515px;
    width: 50%;
    height: 100%;
  }
}

.platinum_booth_2 {
  background: url(/assets/img/e-booth/imgs/platinum_booth_2.png) no-repeat center / contain;
  // max-width: 1280px;
  // max-height: 636px;
  flex: auto;
  width: 100%;
  height: 50%;

  @include tablet {
    //    max-width: 720px;
    //    max-height: 515px;
    width: 50%;
    height: 100%;
  }
}

// section_3 contents
.gold_banner {
  background: url(/assets/img/e-booth/imgs/gold_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 234px;
  width: 42.25%;
  height: 5%;

  @include tablet {
    width: 21.25%;
    height: 17%;
  }
}

.gold_booth_set {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 94.8175%;
  position: absolute;
  bottom: 0.1824%;

  @include tablet {
    max-width: 1396px;
    top: 18%;
    width: 66.7083%;
    height: 78.8175%;
  }
}

.gold_booth_1 {
  background: url(/assets/img/e-booth/imgs/gold_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.gold_booth_2 {
  background: url(/assets/img/e-booth/imgs/gold_booth_2.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.gold_booth_3 {
  background: url(/assets/img/e-booth/imgs/gold_booth_3.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.gold_booth_4 {
  background: url(/assets/img/e-booth/imgs/gold_booth_4.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.gold_booth_5 {
  background: url(/assets/img/e-booth/imgs/gold_booth_5.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.gold_booth_6 {
  background: url(/assets/img/e-booth/imgs/gold_booth_6.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.gold_booth_7 {
  background: url(/assets/img/e-booth/imgs/gold_booth_7.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.gold_booth_8 {
  background: url(/assets/img/e-booth/imgs/gold_booth_8.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

// section_4 contents
.silver_banner {
  background: url(/assets/img/e-booth/imgs/silver_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 237px;
  width: 42.25%;
  height: 34%;

  @include tablet {
    width: 21.25%;
    height: 34%;
  }
}

.silver_booth {
  background: url(/assets/img/e-booth/imgs/silver_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 68.9490%;
  bottom: 2.0679%;

  @include tablet {
    max-width: 789px;
    max-height: 489px;
    width: 41.0937%;
    height: 51.9108%;
    bottom: 10.8067%;
  }
}

// section_5 contents (bronze & jade)
.bronze_banner {
  background: url(/assets/img/e-booth/imgs/bronze_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 235px;
  top: 0.2377%;
  width: 42.25%;
  height: 10%;

  @include tablet {
    width: 21.25%;
    height: 34%;
  }
}

// .bronze_booth_box {
//     position: absolute;
//     top: 2.3776%;
//     max-width: 1047px;
//     max-height: 5267px;
//     width: 54.5312%;
//     height: 36.8321%;

//     @include tablet {
//         max-width: 984px;        ;
//         max-height: 688px;
//         width: 51.25%;
//         height: 27.8542%;
//     }
// }
.bronze_booth_set_1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 32%;
  position: absolute;
  top: 11%;

  @include tablet {
    max-width: 656px;
    max-height: 344px;
    width: 34.1666%;
    height: 28.1967%;
    top: 34%;
  }
}

.bronze_booth_1 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 50%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 50%;
    height: 100%;
  }
}

.bronze_booth_2 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_2.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 50%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 50%;
    height: 100%;
  }
}

.bronze_booth_set_2 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 48%;
  position: absolute;
  top: 45%;

  @include tablet {
    max-width: 984px;
    max-height: 344px;
    width: 51.25%;
    height: 28.1967%;
    top: 62.1967%;
  }
}

.bronze_booth_3 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_3.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 33.3333%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 33.3333%;
    height: 100%;
  }
}

.bronze_booth_4 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_4.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 33.3333%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 33.3333%;
    height: 100%;
  }
}

.bronze_booth_5 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_5.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 33.3333%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 33.3333%;
    height: 100%;
  }
}

.jade_banner {
  background: url(/assets/img/e-booth/imgs/jade_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 235px;
  top: 0.2377%;
  width: 42.25%;
  height: 10%;

  @include tablet {
    width: 21.25%;
    height: 30%;
  }
}

// .jade_booth_box {
//     position: absolute;
//     top: 6300px;

//     @include tablet {
//         top: 1505px;
//     }
// }
.jade_booth_set_1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 39.9%;
  position: absolute;
  top: 8%;

  @include tablet {
    max-width: 1312px;
    max-height: 344px;
    width: 68.3333%;
    height: 27.52%;
    top: 32%;
  }
}

.jade_booth_1 {
  background: url(/assets/img/e-booth/imgs/jade_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 25%;
  flex: auto;

  @include tablet {
    width: 328px;
    height: 344px;
    width: 25%;
    height: 100%;
  }
}

.jade_booth_2 {
  background: url(/assets/img/e-booth/imgs/jade_booth_2.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 25%;
  flex: auto;

  @include tablet {
    width: 328px;
    height: 344px;
    width: 25%;
    height: 100%;
  }
}

.jade_booth_3 {
  background: url(/assets/img/e-booth/imgs/jade_booth_3.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 25%;
  flex: auto;

  @include tablet {
    width: 328px;
    height: 344px;
    width: 25%;
    height: 100%;
  }
}

.jade_booth_4 {
  background: url(/assets/img/e-booth/imgs/jade_booth_4.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 25%;
  flex: auto;

  @include tablet {
    width: 328px;
    height: 344px;
    width: 25%;
    height: 100%;
  }
}

.jade_booth_set_2 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 39.9%;
  position: absolute;
  top: 48%;

  @include tablet {
    max-width: 1312px;
    max-height: 344px;
    width: 68.3333%;
    height: 27.52%;
    top: 59.52%;
  }
}

.jade_booth_5 {
  background: url(/assets/img/e-booth/imgs/jade_booth_5.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 25%;
  flex: auto;

  @include tablet {
    width: 328px;
    height: 344px;
    width: 25%;
    height: 100%;
  }
}

.jade_booth_6 {
  background: url(/assets/img/e-booth/imgs/jade_booth_6.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 25%;
  flex: auto;

  @include tablet {
    width: 328px;
    height: 344px;
    width: 25%;
    height: 100%;
  }
}

.jade_booth_7 {
  background: url(/assets/img/e-booth/imgs/jade_booth_7.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 25%;
  flex: auto;

  @include tablet {
    width: 328px;
    height: 344px;
    width: 25%;
    height: 100%;
  }
}

.jade_booth_8 {
  background: url(/assets/img/e-booth/imgs/jade_booth_8.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 25%;
  flex: auto;

  @include tablet {
    width: 328px;
    height: 344px;
    width: 25%;
    height: 100%;
  }

}

.item-desc {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  font-size: 1.33rem;

  &>p {
    margin-bottom: 0;
    word-break: break-all;
  }

  .image-item {
    margin-right: 16px;
  }
}

// ! MODAL --------------------------------------------------------------- 
/* 스템프투어 당첨 이벤트 모달 */
.win-alert-btn {
  display: none;
}

.win-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 516px;
    max-width: 90%;
    background: var(--gray23);

    .modal-title {
      color: var(--white);
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      p {
        padding: 8px 0;
        font-size: 1.5rem;
        color: var(--white);
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.0rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue2);
    }
  }
}


.modal.detail-modal {

  .modal-body {

    overflow: auto;
  }

  /* modal content */
  figure {
    display: flex;
    position: relative;
    padding: 24px;
    max-height: 100%;
    margin: 0;
    text-align: center;

    .photo {
      display: flex;
    }

    .image-wrapper {
      display: flex;
      flex: 0 0 36%;
      align-self: center;
      max-width: 36%;
      min-height: 13vh;
      max-height: 100%;

      img {
        width: auto;
        height: auto;
        max-width: 95%;
        max-height: 95%;
        object-fit: contain;
      }
    }
  }

  a {
    display: block;
  }

  .item-info {
    position: absolute;
    left: 37%;
    top: 24px;
    flex-basis: auto;
    min-width: 200px;
    min-height: 80px;
    font-size: 1.33rem;
    text-align: left;

    .home-link {
      margin-bottom: 28px;
      color: var(--gray22);
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;

      &:hover {
        color: var(--blue8);
        text-decoration: underline;

      }
    }

    >p {
      font-size: 1.25rem;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }
  }

  .item-inner {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .attachments {
    // 반응형작업을 위해 구조상 item-info를 강제로 위로 올렸기 때문에 하단에 attachments에 패딩 상단 값은 item-info height값이다.
    // 만약에 item-info에 내용이 변경되면 패딩값을 변경해야한다.
    padding-top: 80px;
    color: var(--gray22);
    font-size: 1.33rem;
    text-align: left;

  }

  .download {
    display: inline-flex;
    min-width: 137px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    color: var(--gray22);
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    border: 1px solid var(--gray10);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
      color: var(--blue8);
      font-weight: 600;
      text-decoration: underline;
    }

    /*클립아이콘*/
    .icon-clip {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 22px;
      margin-right: 8px;
      background-image: url('/assets/img/icon-clip.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ellipsis {
      max-width: 65px;
      padding-left: 5px;

      &:first-child {
        padding-left: 0;
      }
    }

  }

  .item-desc {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    font-size: 1.33rem;

    &>p {
      margin-bottom: 0;
      word-break: break-all;
    }

    .image-item {
      margin-right: 16px;
    }
  }
}

@media (max-width: 1024px) {
  figure {
    flex-wrap: wrap;
  }

  .modal.detail-modal .item-info {
    min-height: 15vh;
  }
}

@media (max-width: 991px) {

  .modal.detail-modal .item-inner {
    flex: none;
    max-width: 100%;
  }

  .modal.detail-modal .attachments {
    width: 100%;
    min-width: 300px;
    padding-top: 0;

    .download {
      max-width: 270px;
    }

    .ellipsis {
      display: inline-block;
      width: 100%;
      max-width: 90%;
      vertical-align: middle;
    }
  }
}


@media (max-width: 768px) {
  .modal.detail-modal figure .image-wrapper {
    min-width: 117px;
    height: unset;

    img {
      max-height: 100%;
    }
  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }

  .content-body {

    .list-wrapper {

      .list-item {
        flex: 0 0 33.33%;
        max-width: 33.3%
      }
    }
  }
}

@media (max-width: 575px) {
  .modal.detail-modal .item-info {
    .item-name {
      word-break: break-all;
    }
  }
}

@media (max-width: 414px) {
  .modal.detail-modal .item-info {
    max-width: 137px;
    min-width: unset;

  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 360px) {

  .modal.detail-modal figure .item-info {
    left: 133px;
  }

  .modal.detail-modal .attachments {
    min-width: 260px;
  }
}
