.program-nav-title {
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}

.program-nav-list {
  // min-height: 56px;
  background: var(--white);
  text-align: center;

  .content-inner {
    min-height: 100%;
  }

  .program-nav-item {
    min-width: 20%;
    // height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--navy);
    border: 1px solid var(--gray22);
    background: var(--white);
    box-sizing: border-box;

    &.active {
      color: var(--white);
    }
  }

  &.days .program-nav-item {
    max-width: 30%;

    cursor: pointer;

    &.active {
      background: var(--navy);
      cursor: pointer;
    }
  }

  &.channels .program-nav-item {
    cursor: pointer;

    &.active {
      background: var(--blue4);
    }
  }
}

@media (max-width: 767px) {
  .program-nav-list .program-nav-item {
    font-size: 14px;
    padding: 2px;
    min-width: 33.33%;
  }
}
